# Lab 1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_01.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [2]:
Data = {
    "latitude": 40.7128,
    "longitude": -74.0060,
    "population": 8336817,
    "area_sq_km": 783.8
}

In [3]:
Population_density = Data["population"] / Data["area_sq_km"]

In [4]:
Population_density

10636.408522582293

In [5]:
print(f"Population_density: {Population_density:.2f} people per square kilometer")

Population_density: 10636.41 people per square kilometer

In [9]:
print(f"latitude: {Data['latitude']}, longitude: {Data['longitude']}")

latitude: 40.7128, longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [10]:
city = "San Francisco"

In [11]:
city

'San Francisco'

In [12]:
lowercase_city = city.lower()
print(lowercase_city)

san francisco

In [13]:
uppercase_city = city.upper()
print(uppercase_city)

SAN FRANCISCO

In [14]:
new_city = city.replace("San", "Los")
print(new_city)

Los Francisco

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [15]:
Cities = [
    ("New York", 40.7128, -74.0060),
    ("Los Angeles", 34.0522, -118.2437),
    ("Chicago", 41.8781, -87.6298)
]

In [ ]:
Cities.append(("Miami", 25.7617, -80.1918))

In [17]:
print("All cities:", Cities)

All cities: [('New York', 40.7128, -74.006), ('Los Angeles', 34.0522, -118.2437), ('Chicago', 41.8781, -87.6298), ('Miami', 25.7617, -80.1918)]

In [19]:
print("First two cities:", Cities[:2])

First two cities: [('New York', 40.7128, -74.006), ('Los Angeles', 34.0522, -118.2437)]

In [22]:
print("First two cities:", Cities[-2:])

First two cities: [('Chicago', 41.8781, -87.6298), ('Miami', 25.7617, -80.1918)]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [23]:
Eiffel_Tower = (48.8584, 2.2945) # Latitude and Longitude of the Eiffel Tower
print(f"Eiffel Tower coordinates: {Eiffel_Tower}")

Eiffel Tower coordinates: (48.8584, 2.2945)

In [24]:
latitude = 48.8585

In [25]:
print(f"Eiffel Tower coordinates: {Eiffel_Tower}")

Eiffel Tower coordinates: (48.8584, 2.2945)

In [26]:
Latitude = 48.8584
Longitude = 2.2945

In [27]:
print("Latitude:", Latitude)

Latitude: 48.8584

In [28]:
print("Longitude:", Longitude)

Longitude: 2.2945

In [29]:
latitude = 48.8585

In [30]:
print("Latitude:", latitude)

Latitude: 48.8585

In [33]:
# Step 1: Create a tuple for the Eiffel Tower coordinates
eiffel_tower = (48.8584, 2.2945)

# Step 2: Access and print latitude and longitude
latitude = eiffel_tower[0]
longitude = eiffel_tower[1]
print("Latitude:", latitude)
print("Longitude:", longitude)

Latitude: 48.8584
Longitude: 2.2945

In [34]:
# Step 3: Tuples are immutable, so you cannot change their values directly.
# To "change" the latitude, create a new tuple:
eiffel_tower = (48.8585, eiffel_tower[1])
print("Updated Eiffel Tower coordinates:", eiffel_tower)

Updated Eiffel Tower coordinates: (48.8585, 2.2945)

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [35]:
Countries = ()

In [38]:
Updated_Countries = Countries.__add__(("USA", "Canada", "Mexico"))

In [39]:
Updated_Countries

('USA', 'Canada', 'Mexico')

In [40]:
Countries = { "USA", "France", "Germany" }

In [41]:
Countries.add("Italy")

In [42]:
Countries.add("Italy")

In [43]:
print(Countries)

{'USA', 'Germany', 'Italy', 'France'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 m³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [44]:
River = {
    "name": "Amazon River",
    "length_km": 6400,
    "countries": ["Brazil", "Peru", "Colombia"]
}

In [45]:
River["Average_Discharge_m3_per_s"] = 209_000

In [46]:
River

{'name': 'Amazon River',
 'length_km': 6400,
 'countries': ['Brazil', 'Peru', 'Colombia'],
 'Average_Discharge_m3_per_s': 209000}

In [47]:
River["Length_km"] = 6992

In [48]:
print(River)

{'name': 'Amazon River', 'length_km': 6400, 'countries': ['Brazil', 'Peru', 'Colombia'], 'Average_Discharge_m3_per_s': 209000, 'Length_km': 6992}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [49]:
City = {
    "name": "Tokyo",
    "population": 13515271,
    "coordinates": (35.6895, 139.6917)
}

In [52]:
Population = City["population"]

In [53]:
Population

13515271

In [58]:
Latitude = City["coordinates"][0]
print("Latitude:", Latitude)

Latitude: 35.6895

In [55]:
City["population"] = 14000000

In [57]:
print("Updated City Info:", City)

Updated City Info: {'name': 'Tokyo', 'population': 14000000, 'coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [59]:
Cities

[('New York', 40.7128, -74.006),
 ('Los Angeles', 34.0522, -118.2437),
 ('Chicago', 41.8781, -87.6298),
 ('Miami', 25.7617, -80.1918)]

In [60]:
Sorted_Cities = sorted(Cities)

In [61]:
print(Sorted_Cities)

[('Chicago', 41.8781, -87.6298), ('Los Angeles', 34.0522, -118.2437), ('Miami', 25.7617, -80.1918), ('New York', 40.7128, -74.006)]

In [62]:
Cities.sort()

In [63]:
Cities

[('Chicago', 41.8781, -87.6298),
 ('Los Angeles', 34.0522, -118.2437),
 ('Miami', 25.7617, -80.1918),
 ('New York', 40.7128, -74.006)]

In [67]:
city_names = [city[0] for city in Cities]
print(city_names)

['Chicago', 'Los Angeles', 'Miami', 'New York']

In [68]:
Cities.pop()  # Removes the last item
print("Updated cities list after removing last city:", Cities)

Updated cities list after removing last city: [('Chicago', 41.8781, -87.6298), ('Los Angeles', 34.0522, -118.2437), ('Miami', 25.7617, -80.1918)]

In [75]:
Cities.remove(("Chicago", 41.8781, -87.6298))
print("Updated cities list after removing Chicago:", Cities)

Updated cities list after removing Chicago: [('Los Angeles', 34.0522, -118.2437), ('Miami', 25.7617, -80.1918)]

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [70]:
river = {
    "Name": "Amazon River",
    "Length_km": 6992,
    "Countries": ["Brazil", "Peru", "Colombia"],
    "Average_Discharge_m3_per_s": 209_000
}

In [71]:
print("Length" in river)
print("Length_km" in river)

False
True

In [74]:
print("Keys:", river.keys())

Keys: dict_keys(['Name', 'Length_km', 'Countries', 'Average_Discharge_m3_per_s'])

In [ ]:
print("Keys:", list(river.keys())) # Convert to list for better readability

Keys: ['Name', 'Length_km', 'Countries', 'Average_Discharge_m3_per_s']

In [77]:
print("values:", list(river.values())) # Convert to list for better readability

values: ['Amazon River', 6992, ['Brazil', 'Peru', 'Colombia'], 209000]

In [78]:
print("values:", river.values())

values: dict_values(['Amazon River', 6992, ['Brazil', 'Peru', 'Colombia'], 209000])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [81]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [83]:
location_names = [loc[0] for loc in locations]
print("Location names:", location_names)

Location names: ['Mount Everest', 'K2', 'Kangchenjunga']

In [84]:
# 2) Create a dictionary with names as keys and (lat, lon) tuples as values
location_dict = {loc[0]: (loc[1], loc[2]) for loc in locations}
print("Location dictionary:", location_dict)

# 3) Print the latitude of "K2"
print("Latitude of K2:", location_dict["K2"][0])

Location dictionary: {'Mount Everest': (27.9881, 86.925), 'K2': (35.8808, 76.5155), 'Kangchenjunga': (27.7025, 88.1475)}
Latitude of K2: 35.8808